openapi: 3.2.0
info:
  title: RunLoop Apikeys API
  version: '0.1'
  description: The RunLoop API spec that allows you to host lambda functions and Devboxes to enable scaled long running ai workflows.
  contact:
    name: Runloop AI Support
    url: https://runloop.ai
    email: support@runloop.ai
servers:
- url: https://api.runloop.ai
  description: Runloop API
  variables: {}
security:
- bearerAuth: []
tags:
- name: API Keys
paths:
  /v1/apikeys:
    post:
      tags:
      - API Keys
      summary: Create API Key
      description: Create a new API key for the authenticated account. Use a standard API key (ak_) or a restricted key (rk_) with RESOURCE_TYPE_ACCOUNT write scope.
      operationId: createAPIKey
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateParameters'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreatedView'
      deprecated: false
components:
  schemas:
    ApiKeyCreatedView:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        name:
          type: string
        key_secret:
          type: string
        expires_at_ms:
          type:
          - integer
          - 'null'
          format: int64
    ApiKeyCreateParameters:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        expires_at_ms:
          type:
          - integer
          - 'null'
          format: int64
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
